@page
@model CoffeeRecordsIdentity.Pages.Admin.UsersModel
@{
}

@if(User.IsInRole("Admin"))
{
    <h1>Users</h1>
   @foreach (var user in Model.Users)
   {
    <p>@user.UserName</p>
   }
}
else
{
    <h1>Access Denied</h1>
}